{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      {% for item in stock %}
      <tr class="table-light">
        <td>{{item.symbol}}</td>
        <td>{{item.shares}}</td>
        <td>{{item.price}}</td>
        <td>{{item.total}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <th>Cash</th>
        <td>{{cash}}</td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <th>TOTAL</th>
        <td>{{all_total}}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
