{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
                <select class="form-control mx-auto w-auto" name="symbol">
                    <option>Share to sell</option>
                    {% for item in stock_shares %}
                    <option value={{item}}>{{item}}</option>
                    {% endfor %}
                </select>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
