{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<h1>Create Listing</h1>

    <form action= "{% url 'create_listing' %}" method="post">
        {% csrf_token %}

        <div>
            <div class="row">
                <div class="col-md-10">    
                    {{ form.category|as_crispy_field }}
                        
                </div>                        
                <a class="col-2" href="{% url 'create_categories' %}"  style="text-decoration: none;">
                    <button  class=" btn btn-primary btn-md" style="margin-bottom: 16px; margin-top: 28px; margin-left: 0;" type="button">New category</button>
                </a>        
    
            </div>


            
        </div>
        <div>
            {{ form.title|as_crispy_field }}
            {{ form.description|as_crispy_field }}
            {{ form.price|as_crispy_field }}
            {{ form.image|as_crispy_field }}
        </div>
        
        <input class="btn btn-primary btn-md" type="submit" value="Create new listing">
    </form>
{% endblock%}